@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Study Time Manager</h1>
    <p>Link to <a href="https://github.com/TyreecePillay/poefinalST10084621.git">project on Github</a>.</p>
</div>
